<!-- IF S_DISPLAY_SEARCH -->	
	<!-- IF S_REGISTERED_USER -->
	<li class="small-icon icon-search-self rightside"><a href="{U_SEARCH_SELF}" role="menuitem">{L_SEARCH_SELF}</a></li>
	<!-- ENDIF -->
	<!-- IF S_USER_LOGGED_IN -->
	<li class="small-icon icon-search-new rightside"><a href="{U_SEARCH_NEW}" role="menuitem">{L_SEARCH_NEW}</a></li>
	<!-- ENDIF -->
	<!-- IF S_LOAD_UNREADS --> 
	<li class="small-icon icon-search-unread rightside"><a href="{U_SEARCH_UNREAD}" role="menuitem">{L_SEARCH_UNREAD}</a></li>
	<!-- ENDIF -->
	<li class="small-icon icon-pages rightside" data-skip-responsive="true"><a href="{{ U_PRIVACY }}" title="{{ lang('PRIVACY_LINK') }}">{{ lang('PRIVACY_LINK') }}</a></li>
<!-- ENDIF -->
